<header class="masthead">
  <div class="masthead-title">
    <a href="{{ '/' | relative_url }}" title="Home">{{ site.title }}</a>
    <small class="tagline">{{ site.tagline }}</small>
    {% if site.author %}
      <img class="avatar" src="{{ site.author.avatar | relative_url }}" itemprop="image" class="u-photo">
    {% endif %}
  </div>
  {% if site.data.navigation %}
    <nav class="nav">
      <ul class="nav-list">
      {% for item in site.data.navigation %}
        <li class="nav-item">
          <a href="{{ item.url | relative_url }}" class="{% if page.url == item.url %}current{% endif %}">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </nav>
  {% endif %}
</header>
